@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  overflow: hidden;
}

/* Customização dos Popups do Mapa para ficarem Dark */
.leaflet-popup-content-wrapper {
  background: #1a1a1a !important;
  color: white !important;
  border-radius: 4px !important;
  border: 1px solid rgba(255,255,255,0.1);
}

.leaflet-popup-tip {
  background: #1a1a1a !important;
}